$primary-color: #f0923b;
$secondary-color: #d3f3eb;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1, h2 {
  font-family: 'Comfortaa', cursive;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}