$primary-color: white;
// $secondary-color: #91e4e7;
$secondary-color: #4ad9de;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1, h2 {
  font-family: 'Comfortaa', cursive;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return rgb(28, 8, 77);
  } @else {
    @return rgb(162, 133, 233);
  }
}

// @mixin mobile-l{
//   @media screen and (min-height: 667px) {
//     @content;
//   }
// }