.instruct {
  overflow: visible;
}

.instruct-subTitle {
  h3 {
    margin-top: .2rem;
  }
}
.instruct-info {
  p {
    margin-bottom: .4rem;
  }

  &__step {
    margin-top: .4rem;
    font-weight: 700;
  }
}