.instruct {
  overflow: visible;
}

.instruct-subTitle {
  h3 {
    margin-top: .2rem;
  }
}

.instruct-info {
  p {
    margin-bottom: .4rem;
  }

  .final-step{
    padding-bottom: 1rem;
  } 

  &__step {
    margin-top: 1rem;
    font-weight: 700;
  }
}
