.leaderboard {
  height: 100%;
  padding: 5vh 10vw;
  align-items: center;
  text-align: center;

    &-gameTitle {
      font-size: 1.8rem;
      padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid set-text-color($primary-color);
    }

    &-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &-team {
      font-weight: 700;
      position: relative;
      text-align: left;
      padding: .3rem;

        &__field {
          width: 100%;
          height: 2rem;
          margin-bottom: 1rem;
        }

        &__score {
          width: 100%;
          font-family: 'Comfortaa', cursive;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
    }

    &-teamSize{
      margin-bottom: 1rem;
    }

    &-btnSection{
      position: absolute;
      bottom: 3vh;
      left: 50%;
      margin-left: -100px;
      width: 196px;
    }

}