.lobby {
  height: 100%;
  padding: 5vh 20vw;
  align-items: center;
  text-align: center;

    &-gameTitle {
      font-size: 1.8rem;
      padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid set-text-color($primary-color);
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
       font-family: 'Varela Round', sans-serif;
          margin: 0.5rem;
          background-color: $secondary-color;
          text-decoration: none;
          padding: 8px 10px;
          border-radius: 7px;
          border: solid 2px rgb(142, 150, 153) ;
    }

    &-users {
      width: 100%;

        &__name {
          padding-top: .5rem;
          padding-bottom: .5rem;
          border-bottom: solid 1px rgb(131, 145, 140);
        }
    }
}