.lobby {
  height: 100%;
  padding: 5vh 10vw;
  align-items: center;
  text-align: center;

    &-gameTitle {
      font-size: 1.8rem;
      padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid set-text-color($primary-color);
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
      line-height: 1.3;
    }

    &-instructions {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      line-height: 1.3;
    }

    &-btn {
      display: flex;
      justify-content: center;
       font-family: 'Varela Round', sans-serif;
          margin: 0.5rem;
          margin-top: 1.5rem;
          background-color: $secondary-color;
          text-decoration: none;
          padding: 8px 10px;
          border-radius: 7px;
          border: solid 2px rgb(39, 8, 110) ;
    }

    &-users {
      width: 100%;

        &__name {
          padding-top: 1rem;
          padding-bottom: 1rem;
          line-height: 1.3;
          border-bottom: solid 1px rgb(39, 8, 110);
        }
    }
}