.questions {
  height: 100%;
  padding: 5vh 10vw;
  align-items: center;
  text-align: center;

      &-gameTitle {
      font-size: 1.8rem;
      padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid set-text-color($primary-color);
    }

     &-title {
      font-size: 1.4rem;
      padding-top: 12vh;
      padding-bottom: 4vh;
      margin-bottom: 1rem;
      line-height: 1.3;
    }

    &-clock {
      padding-top: .2rem;
      font-size: 2rem;
      margin: 1rem;
    }

    &-btns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

        &__btn {
          font-family: 'Varela Round', sans-serif;
          margin: .2rem;
          background-color: $secondary-color;
          text-decoration: none;
          padding: 8px 10px;
          border-radius: 7px;
          border: solid 2px rgb(39, 8, 110) ;
        }
    }
}

.progress-bar {
  position: relative;
  height: 20px;
  width: inherit;
  border-radius: 50px;
  border: 1px solid rgb(39, 8, 110);
  top: 1.5rem;
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in-out;
}