.results {
  height: 100%;
  padding: 5vh 10vw;
  align-items: center;
  text-align: center;

  &-gameTitle {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid set-text-color($primary-color);
  }

  &-question {
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  &-points {
    line-height: 1.3;
    margin-top: 3rem;
  }

  &-answers {
    margin-bottom: 3rem;
    line-height: 1.2;
  }

  &-incorrect {
    margin-bottom: 0.8rem;
  }

  &-noAnswer {
    margin-top:4rem;
    line-height: 1.5;
  }

  &-btns {
    display: flex;
    justify-content: center;
    margin: 1rem;

    &__btn {
      font-family: 'Varela Round', sans-serif;
      margin: .2rem;
      background-color: $secondary-color;
      text-decoration: none;
      padding: 8px 10px;
      border-radius: 7px;
      border: solid 2px rgb(39, 8, 110);
    }
  }

}