.setup {
  height: 100%;
  padding-top: 3vh;
  padding-bottom: 1vh;
  padding-left: 5vh;
  padding-right: 5vh;
  align-items: center;
  text-align: center;

    &-gameTitle {
      font-size: 1.8rem;
      padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid set-text-color($primary-color);
    }

    &-welcomeCaptain {
      margin-top: 3rem;
    }

    &-create {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }

    &-form {
      padding: .3rem;
    }

    &-join {
      position: absolute;
      bottom: 3vh;
      left: 50%;
      margin-left: -100px;
    }

    &-team {
      font-weight: 700;
      position: relative;
      text-align: left;
      padding: .3rem;

        &__text {
          padding-bottom: .5rem;
        }

        &__fields {
          width: 100%;
          height: 2rem;
      }
    }

    &-user {
      font-weight: 700;
      text-align: left;
      padding: .3rem;
      
      &__text {
        padding-bottom: .5rem;
      }

        &__fields {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
      }
    }

    &-btns {
      display: flex;
      justify-content: center;
      margin: 1rem;


        &__btn {
           font-family: 'Varela Round', sans-serif;
          margin: 0.5rem;
          background-color: $secondary-color;
          text-decoration: none;
          padding: 8px 10px;
          border-radius: 7px;
          border: solid 2px rgb(39, 8, 110) ;
        }

    }

    &-errorMessage {
      margin-top: 2rem;
      line-height: 1.5;
    }

}