@import 'config';
@import 'home';
@import 'instruct';
@import 'setup';
@import 'lobby';
@import 'loading';
@import 'questions';
@import 'results';
@import 'end';
@import 'leaderboard';
// @import 'responsive';



body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1;
}

main {
  height: 100%;
  width: 100%;

   
}


