@import 'config';
@import 'home';



body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1;
}

main {
  height: 100%;
  width: 100%;

   
}

.instruct-subTitle {
  h3 {
    margin-top: .2rem;
  }
}
.instruct-info {
  p {
    margin-bottom: .4rem;
  }

  &__step {
    margin-top: .4rem;
  }
}
